*{

     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.hero{

     display: grid;
     grid-template-columns: 2fr 1fr;
     position: relative;
}

.hero .left{

     background-image: url('bg.jpeg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 80vh;
}

.hero .right{

     background-color: #83b443;

}

.hero .content-box{

     background-color: #fff;
     position: absolute;
     width:35%;
     padding: 35px;
     top:50%;
     left:65%;
     transform: translate(-40%,-50%);

}


@media (max-width:768px){

     .hero{

          grid-template-columns: 1fr;
     }

     .hero .content-box{

          background-color: #fff;
          position: absolute;
          width:80%;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);

     }

}